body {
width: 100%;
}


.tela-container{
display: flex;
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;

}

.caixa-login{
/* border: 1px solid black; */
border-radius: 10px;
height: 480px;    
width: 350px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: linear-gradient( rgb(111, 47, 185), rgb(44, 108, 105));
box-shadow: 5px 10px 8px gray;
    
}

#sign-in-email, #sign-in-password{
width: 200px;
margin-top: 10px;
}

label{
 margin-top: 20px; 
 font-size: 13px;  
 color: white;
}
p{
 font-size: 13px; 
 color: white;
   
}
.text-link{
 font-size:  13px;  
}

#sign-in-button{
border-radius: 10px;
height: 25px; 
background-color:#FF6347;
color: white; 
margin-bottom: 10px;  
}

.set-icon{
 display: flex;
 align-items: center;
 margin-right: 5px;  
}

.icon:hover{
cursor: pointer;   
}

.icon{
 color: white;    
 margin-left: 5px;
}